
Alumno: Israel Pavelek

Consigna:
* 1_Construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos
* 2_Separar nombres de apellidos en dos columnas distintas usando la coma como separador
* 3_Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó más medallas?
* 4_Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [108]:
import pandas as pd
df = pd.read_csv("Summer-Olympic-medals-1976-to-2008.csv")
df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [109]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y') 
df.set_index('Year', inplace=True)
df.head()

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
Year,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [110]:
name = df['Athlete'].str.split(',',expand=True,n=1)
name.columns = ['Athlete_Last_name', 'Athlete_First_name']
df = pd.concat([df, name], axis=1)
df.head()

,City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Athlete_Last_name,Athlete_First_name
Year,,,,,,,,,,,,
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver,K�HLER,Christa
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
1976-01-01,Montreal,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976-01-01,Montreal,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar

In [112]:
#freq = df.groupby(['Country_Code']).count() 

freq = df.groupby('Country_Code').agg({'Medal':'count'}) 
freq=freq.sort_values('Medal',ascending=False)
print(freq)

              Medal
Country_Code
USA            1992
URS            1021
AUS             798
GER             691
CHN             679
...             ...
MRI               1
PAN               1
SEN               1
SRI               1
KUW               1

[128 rows x 1 columns]

In [152]:

print("El pais que más medallas obtuvo fue " + freq.iloc[0].name + " que obtuvo:" +  str(freq.iloc[0][0]) + " Medallas" )
#print(freq.index)

El pais que más medallas obtuvo fue USA que obtuvo:1992 Medallas